.container-fluid {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: #004e72;
  max-width: 700px;
  border: 5px solid rgb(234, 227, 191);
  border-radius: 10px;
}
h1 {
  margin-top: 10px;
}

.col-3 {
  padding-left: 10px;
}

.main-emoji {
  display: block;
  font-size: 100px;
  padding-top: 40px;
  padding-left: 45px;
  margin-top: 50px;
  position: relative;
}
.main-city {
  margin-top: 20px;
  font-size: 40px;
}
.main-city-description ul {
  padding: 0;
  font-size: 25px;
}

.temperatures {
  display: block;
  font-size: 20px;
  margin-right: -20px;
}

.weekday {
  display: block;
  font-size: 25px;
  line-height: 2.4;
  position: relative;
}

.weather-temp strong {
  font-weight: 400;
  font-size: 60px;
}

.weather-temp .degrees {
  margin-top: 15px;
  font-size: 14px;
}

button {
  background: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: rgba(254, 251, 237, 0.72);
  max-width: 700px;
  border: 1px solid rgb(254, 251, 237);
  border-radius: 10px;
  padding: 15px, 5px;
}

.coding-link {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  position: relative;
  font-size: 12px;
}

.col-12 {
  text-align: center;
  margin-top: -555px;
}
.weather-forecast-temperatures {
  font-size: 20px;
}
.weather-forecast-temperature-min {
  display: block;
  text-align: center;
}
.weather-forecast-date {
  display: block;
  font-size: 25px;
  font-weight: bold;
}
.emoji {
  display: block;
  font-size: 40px;
}

.WeatherForecast {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-left: 375px;
}
@media (max-width: 600px) {
  .col-12 {
    margin-top: 0;
  }
  .WeatherForecast {
    margin-left: 25px;
  }
  .WeatherInfo {
    grid-column: span;
  }
  .main-emoji {
    padding-left: 80px;
  }
}
