.col-6 {
  text-align: center;
}

.weather-forecast-temperature-min {
  display: block;
  margin-top: -30px;
  text-align: center;
}
.weatherForecast {
  display: block;
  position: relative;
  font-size: 20px;
}
